.thesis_env/
.venv/
venv/

__pycache__/
*.pyc
*.pyo

.ipynb_checkpoints/

.DS_Store

# File auto-generati a runtime
module_2/temp_logic.pl
*.pl.bak

module_1/ConceptNet/

# OWL files (grandi, opzionale)
# SOMA/OWLs/

./Robo-CSK-Benchmark